<style>
    body{width: 100%;}
    .kl-pageNone{width: 100%;padding-top: 320px;background:#fff url("${require('./pageNone.png')}") no-repeat center 90px;padding-bottom: 300px;}
    .kl-pageNone p{text-align: center;font-size: 18px;color: #666666;line-height: 26px;padding: 20px 10px}
    .kl-pageNone a.btn{display: block;margin: 0 auto;line-height: 32px;border-radius: 16px;width: 96px;}
</style>
<div class="kl-pageNone">
<p>友情提示：您正在浏览的网页可能已删除、重命名或暂时不可用。</p>
<a href="javascript:window.history.back(-1);" class="btn bgBlue">返回上一页</a>
</div>
